.header
    .header__container
        .header__top
            .header__left
                a.logo(href="#") AppStarter
            .header__right
                ul.menu
                    li.menu__item
                        a(href="#") Features
                    li.menu__item
                        a(href="#") Video Tour
                    li.menu__item
                        a(href="#") Reviews
                    li.menu__item
                        a(href="#") Pricing
                a.btn.btn--small(href="#") Get it free
                .nav-trigger
                    .line
                    .line
                    .line
        .header__content
            .header__block
                h1.header__title <span>AppStarter.</span> Best landing page for web and mobile apps
                .header__buttons
                    a.btn.btn--yellow(href="#") Download Now
                    a.btn(href="#") Watch Video
            .header__block
                .header__ipad
        